### Setup Train Raster

In [ ]:
train_ref = '/mnt/disk1/jasp/expfrancisco/clsmask.tif'

class_col = None

class_proportion = {
    1 : 0.15,
    3 : 64.67,
    4 : 29.54,
    5 : 5.28,
    6 : 0.36
}

ref_raster = '/mnt/disk1/jasp/expfrancisco/vars/b02_20200220.tif'

clouds = '/mnt/disk1/jasp/expfrancisco/clouds_2020.tif'

sample_dim = 1000000
cls_sample_min = 400

out_rst = '/mnt/disk1/jasp/expfrancisco/reftrain_100k.tif'

from glass.ete.autocls.trainref import random_select_from_ref

random_select_from_ref(
    train_ref, class_col, class_proportion,
    ref_raster, sample_dim, cls_sample_min, out_rst,
    clouds=clouds
)

# Setup train - Version 2

In [1]:
mapdata = {
    'file' : '/mnt/g/autocls/exp1/extract_train.xlsx',
    'map'  : 'map_files',
    'count' : 'get_train'
}

from glass.smp import random_cells_extract
from glass.rd import tbl_to_obj


mapdf = tbl_to_obj(mapdata['file'], sheet=mapdata['map'])
cdf = tbl_to_obj(mapdata['file'], sheet=mapdata['count'])

for i, row in mapdf.iterrows():
    classes = cdf['class'].tolist()
    counting = cdf[row.slug].tolist()

    ncells = {classes[i] : counting[i] for i in range(len(classes))}

    random_cells_extract(
        row.path, ncells, row.out
    )

In [2]:
mapdf

,slug,path,out
0,olc_lisbon_filterv1,/home/gisuser/autocls/lcfilter/olc_lisbon_filt...,/home/gisuser/autocls/reffilter/train_lisbon_v...
1,olc_lisbon_filterv2_r1,/home/gisuser/autocls/lcfilter/olc_lisbon_filt...,/home/gisuser/autocls/reffilter/train_lisbon_v...
2,olc_lisbon_filterv2_r2,/home/gisuser/autocls/lcfilter/olc_lisbon_filt...,/home/gisuser/autocls/reffilter/train_lisbon_v...

In [3]:
cdf

  class olc_lisbon_filterv1 olc_lisbon_filterv2_r1 olc_lisbon_filterv2_r2
0     1             1967485                 122636                   7349
1     2             1247994                2069107                 106696
2     3              364330                 542305                 266431
3     4              755233                 513255                   1906
4     5              355686                  45061                   4590
5     6               31682                    450                     79
6     7              277590                      1                     36