In [15]:
from dgt.it.osm import  osm_to_psql

In [18]:
#def osm_to_psql(osmXml, osmdb)

osmXml = '/home/yuri/inescc-dgt/osmdata/osmpt.xml'
osmdb = 'osmpt'

In [19]:
osm_to_psql(osmXml, osmdb)

'osmpt'

In [100]:
from dgt.sql.q import q_to_obj 

qlanes = (
    "SELECT highway, COUNT(highway), MIN(lanes), MAX(lanes), "
    "ROUND( AVG(CAST(lanes AS numeric))) AS mean, "
    "ROUND (STDDEV_POP(CAST(lanes AS numeric)),2) AS Standard_Deviation "
    "FROM lines WHERE highway IS NOT NULL AND lanes ~ '^[0-9]+$' "
    "GROUP BY highway;"
)
qwidth = (
    "SELECT highway, COUNT(highway), MIN(width), MAX(width), "
    "ROUND( AVG(CAST(width AS numeric))) AS mean, "
    "ROUND (STDDEV_POP(CAST(width AS numeric)),2) AS Standard_Deviation "
    "FROM lines "
    "WHERE highway IS NOT NULL AND width ~ '^[0-9]+$' "
    "GROUP BY highway;"
)

lanes = q_to_obj(osmdb, qlanes, db_api = 'psql')
width = q_to_obj(osmdb, qwidth, db_api = 'psql')

In [101]:
lanes

           highway  count min max  mean  standard_deviation
0     construction     78   1   3   2.0                0.44
1         cycleway     56   1   2   2.0                0.35
2          footway     23   1   2   1.0                0.50
3    living_street    139   1   2   1.0                0.29
4         motorway   8320   1   9   3.0                0.85
5    motorway_link   4782   1   8   1.0                0.73
6             path     19   1   2   1.0                0.41
7       pedestrian     53   1   2   1.0                0.39
8          primary  16459   0   6   2.0                0.72
9     primary_link   1851   0   4   1.0                0.44
10        proposed    160   1   4   2.0                0.54
11         raceway     43   1   1   1.0                0.00
12     residential  17974   0   6   1.0                0.53
13       secondary  11184   1   7   2.0                0.70
14  secondary_link    766   1  50   1.0                1.84
15         service   2858   1   6   1.0                0.52
16           steps      5   1   2   1.0                0.40
17        tertiary  12530   0   5   2.0                0.57
18   tertiary_link    803   1   4   1.0                0.34
19           track    816   1   2   1.0                0.24
20           trunk   5786   1   9   2.0                0.86
21      trunk_link   2333   1   6   1.0                0.59
22    unclassified   5066   0  40   1.0                0.71

In [102]:
width

           highway  count min max  mean  standard_deviation
0     construction     11   2   2   2.0                0.00
1         corridor      1   3   3   3.0                0.00
2         cycleway    210   1   5   2.0                0.86
3          footway   1937   0   8   4.0               45.43
4    living_street     23  10   5   4.0                1.99
5         motorway      4  20  50  31.0               19.82
6    motorway_link      4  15   5  13.0                4.33
7             path   1265   0   8   2.0                1.08
8       pedestrian    138   1   8   5.0                3.95
9          primary    128  10   9   6.0                1.90
10    primary_link      2   6   8   7.0                1.00
11         raceway     43  14   5  14.0                2.01
12     residential    910   1   9   5.0                8.54
13       secondary    212   1   8   6.0                2.34
14  secondary_link      9   4   6   5.0                0.99
15         service    268   1   8   4.0                2.03
16           steps    286   1   8   3.0                4.13
17        tertiary    586   2   8   5.0                3.44
18   tertiary_link      4   3   5   4.0                1.00
19           track   3604   0   8   3.0                1.75
20           trunk      5  14  16  16.0                0.80
21      trunk_link      1   4   4   4.0                0.00
22    unclassified    843   1   9   4.0                1.52

In [ ]:
from dgt.sql.q import q_to_obj 

qlanes = "SELECT highway, COUNT(highway), MIN(lanes), MAX(lanes) FROM lines WHERE lanes ~ '^[0-9]+$' GROUP BY highway HAVING MAX(lanes) = '40';"
qwidth = "SELECT highway, COUNT(highway) FROM lines WHERE highway IS NOT NULL GROUP BY highway;"

lanes = q_to_obj(osmdb, qlanes, db_api = 'psql')
width = q_to_obj(osmdb, qwidth, db_api = 'psql')

In [103]:
import pandas as pd

In [104]:
dflanes = pd.DataFrame(lanes)

In [105]:
dfwidth = pd.DataFrame(width)

           highway  count min max  mean  standard_deviation
0     construction     11   2   2   2.0                0.00
1         corridor      1   3   3   3.0                0.00
2         cycleway    210   1   5   2.0                0.86
3          footway   1937   0   8   4.0               45.43
4    living_street     23  10   5   4.0                1.99
5         motorway      4  20  50  31.0               19.82
6    motorway_link      4  15   5  13.0                4.33
7             path   1265   0   8   2.0                1.08
8       pedestrian    138   1   8   5.0                3.95
9          primary    128  10   9   6.0                1.90
10    primary_link      2   6   8   7.0                1.00
11         raceway     43  14   5  14.0                2.01
12     residential    910   1   9   5.0                8.54
13       secondary    212   1   8   6.0                2.34
14  secondary_link      9   4   6   5.0                0.99
15         service    268   1   8   4.0                2.03
16           steps    286   1   8   3.0                4.13
17        tertiary    586   2   8   5.0                3.44
18   tertiary_link      4   3   5   4.0                1.00
19           track   3604   0   8   3.0                1.75
20           trunk      5  14  16  16.0                0.80
21      trunk_link      1   4   4   4.0                0.00
22    unclassified    843   1   9   4.0                1.52

In [ ]:
from dgt.sql.q import q_to_obj 

qlanes = "SELECT highway, COUNT(highway), MIN(lanes), MAX(lanes), ROUND( AVG(CAST(lanes AS numeric))) AS mean, ROUND (STDDEV_POP(CAST(lanes AS numeric)),2) AS Standard_Deviation FROM lines WHERE highway IS NOT NULL AND lanes ~ '^[0-9]+$' GROUP BY highway;"
qwidth = "SELECT highway, COUNT(highway), MIN(width), MAX(width), ROUND( AVG(CAST(width AS numeric))) AS mean, ROUND (STDDEV_POP(CAST(width AS numeric)),2) AS Standard_Deviation FROM lines WHERE highway IS NOT NULL AND width ~ '^[0-9]+$' GROUP BY highway;"

lanes = q_to_obj(osmdb, qlanes, db_api = 'psql')
width = q_to_obj(osmdb, qwidth, db_api = 'psql')