In [3]:
from glass.ete.otol.tools import module_osmtags

tags = module_osmtags(2)

In [6]:
tags[tags.name == 'roads'].lulc_id.unique()

array([86])

In [3]:
tags.name.unique()

array(['selection', 'buildings', 'area_upper', 'basic_buffer', 'roads',
       'area_lower'], dtype=object)

In [5]:
tags[
    (tags['value'] == 'yes') &
    (tags['key'] == 'building')
]

         key value       name  lulc_id  buffer_dist  area
12  building   yes  buildings       28          NaN   NaN

In [1]:
from glass.ete.otol.pg import osm_to_lulc
from glass.prop.prj import get_epsg
import datetime
import os

osm = '/mnt/disk1/jasp/otol/osm_terceira.xml'

nomenclature = 'clc'

refraster = '/mnt/disk1/jasp/otol/rst_terceira.tif'

result = '/mnt/disk1/jasp/otol/terceira.gpkg'

db = '/mnt/disk1/jasp/otol/db_terceira_jun.sql'

time_a = datetime.datetime.now().replace(microsecond=0)
res, logs = osm_to_lulc(
    osm, nomenclature, get_epsg(refraster),
    result, savedb=db, tmpfld=os.path.dirname(result)
)
time_b = datetime.datetime.now().replace(microsecond=0)

print(time_b - time_a)

/home/jasp/.virtualenvs/genv/lib/python3.10/site-packages/geopandas/_compat.py:112: UserWarning: The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(

0:00:32

In [1]:
result = '/mnt/disk1/jasp/otol/terceira.gpkg'
layer = 'osmtolulc_v1'

from glass.ete.otol.tools import get_legend
from glass.rd.shp import shp_to_obj
from glass.wt.shp import df_to_shp

leg_df = get_legend(2)

lulc_df = shp_to_obj(result, lyr=layer)

lulc_df = lulc_df.merge(leg_df, how='left', left_on='lulc', right_on='fid')

lulc_df.drop('fid', axis=1, inplace=True)

df_to_shp(lulc_df, result, layername='osmtolulc_v2')

/home/jasp/.virtualenvs/genv/lib/python3.10/site-packages/geopandas/_compat.py:112: UserWarning: The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(

'/mnt/disk1/jasp/otol/terceira.gpkg'

In [6]:
lulc_df

,lulc,geometry,fid,leg
0,24,"POLYGON ((470386.845 4281888.421, 470394.567 4...",24,Agricultural areas
1,24,"POLYGON ((469964.551 4282142.285, 469975.604 4...",24,Agricultural areas
2,24,"POLYGON ((469474.292 4282630.305, 469499.968 4...",24,Agricultural areas
3,24,"POLYGON ((469244.488 4282612.313, 469247.270 4...",24,Agricultural areas
4,24,"POLYGON ((470187.970 4282582.274, 470203.952 4...",24,Agricultural areas
...,...,...,...,...
39654,28,"MULTIPOLYGON (((489242.013 4278595.920, 489246...",28,Urban Fabric
39655,28,"MULTIPOLYGON (((489198.145 4278777.784, 489197...",28,Urban Fabric
39656,28,"MULTIPOLYGON (((492896.439 4277342.193, 492901...",28,Urban Fabric
39657,28,"MULTIPOLYGON (((494557.454 4286695.097, 494562...",28,Urban Fabric
39658,28,"MULTIPOLYGON (((494555.060 4286690.149, 494549...",28,Urban Fabric

In [2]:
leg_df

    fid                            leg
0    23            Artificial Surfaces
1    24             Agricultural areas
2    25  Forest and semi-natural areas
3    26                       Wetlands
4    27                          Water
..  ...                            ...
64   87                   Rail network
65   88           Tree Lines or Groups
66   89                    Golf course
67  102              Green urban areas
68  103   Sport and leisure facilities

[69 rows x 2 columns]

In [ ]:
from glass.ete.osm2lulc.grs import osm_to_lulc
from glass.ete.osm2lulc.utils import record_time_consumed
import datetime
import os
from glass.pys.oss import fprop, mkdir
from glass.pys.tm import now_as_str

In [ ]:
time_a = datetime.datetime.now().replace(microsecond=0)

ws = mkdir(os.path.join(
    os.path.dirname(osm),
    fprop(result, 'fn')
), overwrite=True)

shp, time_check = osm_to_lulc(
    osm, nomenclature, refraster,
    result, tmpfld=ws,
    overwrite=True, savedb=db
)

time_b = datetime.datetime.now().replace(microsecond=0)
    
# Record time consumed in xlsx table
record_time_consumed(time_check, os.path.join(
    os.path.dirname(result),
    fprop(result, 'fn') + '.xlsx'
))

print(time_b - time_a)